In [61]:
import requests
import datetime
import time
import json
import pandas as pd
import numpy as np

In [62]:
with open('wave.json', "r") as f:
    wave_dictionary=json.load(f)

In [75]:
#this converts unix time to standard time for ease of reading
def timemaker(dictionary):
    return(time.strftime("%a, %d %b %Y %H:%M:%S +0000",time.localtime(dictionary["timestamp"])))

#wavemaker takes in the dictionary and converts into dataframe with relevant info for each timestamp
def wavemaker(dictionary):
    wave=pd.DataFrame.from_dict(dictionary['swells'],orient='columns').drop(columns=["optimalScore","directionMin"])
    return wave

#the dictionary is at the timestamp level. Same dictionary works on both functions

In [82]:
at_a_time=wave_dictionary['data']['wave'][100]#['swells']


wave_labels=np.array(['height1', 'height2', 'height3', 'height4', 'height5', 'height6',
        'period1', 'period2', 'period3', 'period4', 'period5', 'period6',
        'direction1', 'direction2', 'direction3', 'direction4', 'direction5',
        'direction6'])
wave_values = wavemaker(at_a_time).melt().transpose()
wave_values = wave_values.drop('variable')
wave_values.columns = wave_labels
wave_values

,height1,height2,height3,height4,height5,height6,period1,period2,period3,period4,period5,period6,direction1,direction2,direction3,direction4,direction5,direction6
value,0.0,7.12723,1.65026,0.89747,0.0,1.69019,0.0,13.0,13.0,9.0,0.0,16.0,0.0,294.24274,217.38385,178.05133,0.0,192.71021

In [72]:
timemaker(at_a_time)

'Wed, 19 Oct 2022 04:00:00 +0000'

In [83]:
wave_values['time'] = timemaker(at_a_time)

In [84]:
wave_values

,height1,height2,height3,height4,height5,height6,period1,period2,period3,period4,period5,period6,direction1,direction2,direction3,direction4,direction5,direction6,time
value,0.0,7.12723,1.65026,0.89747,0.0,1.69019,0.0,13.0,13.0,9.0,0.0,16.0,0.0,294.24274,217.38385,178.05133,0.0,192.71021,"Wed, 19 Oct 2022 04:00:00 +0000"

In [87]:
wave_values.set_index('time')

,height1,height2,height3,height4,height5,height6,period1,period2,period3,period4,period5,period6,direction1,direction2,direction3,direction4,direction5,direction6
time,,,,,,,,,,,,,,,,,,
"Wed, 19 Oct 2022 04:00:00 +0000",0.0,7.12723,1.65026,0.89747,0.0,1.69019,0.0,13.0,13.0,9.0,0.0,16.0,0.0,294.24274,217.38385,178.05133,0.0,192.71021