In [60]:
import requests
import datetime
import time
import json
import pandas as pd
import numpy as np

In [75]:
with open('wave.json', "r") as f:
    wave_dictionary=json.load(f)

In [137]:
with open('wind.json',"r") as w:
    wind_dictionary=json.load(w)
def windmaker(dictionary):
    wind=pd.DataFrame.from_dict(dictionary['wind'],orient='columns').drop(columns=['utcOffset','optimalScore'])
    return wind
at_a_moment=wind_dictionary['data']#['wind']
wind_values=windmaker(at_a_moment)
wind_values

KeyError: 1

In [124]:
#this converts unix time to standard time for ease of reading
def timemaker(dictionary):
    return(time.strftime("%a, %d %b %Y %H:%M:%S +0000",time.localtime(dictionary["timestamp"])))

#wavemaker takes in the dictionary and converts into dataframe with relevant info for each timestamp
def wavemaker(dictionary):
    wave=pd.DataFrame.from_dict(dictionary['swells'],orient='columns').drop(columns=["optimalScore","directionMin"])
    return wave

#the dictionary is at the timestamp level. Same dictionary works on both functions

In [126]:
at_a_time=wave_dictionary['data']['wave'][100]#['swells']
wave_labels=np.array(['height1', 'height2', 'height3', 'height4', 'height5', 'height6',
        'period1', 'period2', 'period3', 'period4', 'period5', 'period6',
        'direction1', 'direction2', 'direction3', 'direction4', 'direction5',
        'direction6'])
wave_values = wavemaker(at_a_time).melt().transpose()
wave_values = wave_values.drop('variable')
wave_values.columns = wave_labels

      timestamp    speed  direction directionType     gust
0    1665817200  2.77132  199.74937       Onshore  2.77132
1    1665820800  2.79966  188.49635       Onshore  2.79966
2    1665824400  1.96863  171.23939       Onshore  2.13823
3    1665828000  1.14990  147.57130       Onshore  1.36069
4    1665831600  0.98572  119.45582       Onshore  0.98572
..          ...      ...        ...           ...      ...
403  1667268000  1.11662  120.50166       Onshore  1.57258
404  1667271600  1.11662  120.50166       Onshore  1.57258
405  1667275200  1.11662  120.50166       Onshore  1.57258
406  1667278800  1.11662  120.50166       Onshore  1.57258
407  1667282400  1.11662  120.50166       Onshore  1.57258

[408 rows x 5 columns]

In [64]:
timemaker(at_a_time)

'Wed, 19 Oct 2022 04:00:00 +0000'

In [72]:
wave_values['time'] = at_a_time['timestamp']

In [73]:
wave_values

,height1,height2,height3,height4,height5,height6,period1,period2,period3,period4,period5,period6,direction1,direction2,direction3,direction4,direction5,direction6,time
value,0.0,7.12723,1.65026,0.89747,0.0,1.69019,0.0,13.0,13.0,9.0,0.0,16.0,0.0,294.24274,217.38385,178.05133,0.0,192.71021,1666177200

In [74]:
wave_values.set_index('time')

,height1,height2,height3,height4,height5,height6,period1,period2,period3,period4,period5,period6,direction1,direction2,direction3,direction4,direction5,direction6
time,,,,,,,,,,,,,,,,,,
1666177200,0.0,7.12723,1.65026,0.89747,0.0,1.69019,0.0,13.0,13.0,9.0,0.0,16.0,0.0,294.24274,217.38385,178.05133,0.0,192.71021