In [1]:
import requests
import datetime
import time
import json
import pandas as pd
import numpy as np

In [2]:
with open('tide.json',"r") as w:
    tide_dictionary=json.load(w)

In [14]:
def tidemaker(dictionary):
    tide=pd.DataFrame.from_dict(dictionary,orient='columns').drop(columns=['utcOffset'])
    return tide
at_a_time=tide_dictionary['data']['tides']
tide_values=tidemaker(at_a_time)
tide_values

      timestamp    type  height
0    1665817200  NORMAL    1.74
1    1665820800  NORMAL    2.43
2    1665824400  NORMAL    3.04
3    1665828000  NORMAL    3.48
4    1665831600  NORMAL    3.66
..          ...     ...     ...
470  1667275200  NORMAL    0.33
471  1667278800  NORMAL   -0.24
472  1667281677     LOW   -0.36
473  1667282400  NORMAL   -0.36
474  1667286000  NORMAL   -0.06

[475 rows x 3 columns]